/* Copyright Nintendo */
@use "nes.css/scss/nes";

$badge-ogcolors: (
  #000000,
  #404040,
  #ad854a,
  #ffdc64,
  #d8b353,
  #87654a,
  #f2f3ff,
  #d9704a,
  #a64d20
);

$size: 1px;

// prettier-ignore
$badge-og1: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 2, 2, 1, 0, 3, 3, 3, 3, 0, 1, 2, 2, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 2, 2, 4, 1, 4, 4, 4, 4, 1, 4, 2, 2, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 3, 4, 4, 3, 4, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 5, 4, 4, 4, 4, 4, 4, 4, 4, 5, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 3, 1, 5, 4, 4, 4, 4, 4, 4, 5, 1, 3, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 3, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 4, 4, 4, 4, 1, 4, 4, 4, 4, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 6, 4, 4, 4, 4, 4, 4, 1, 5, 5, 5, 5, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 6, 4, 3, 3, 4, 3, 1, 6, 5, 5, 5, 5, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 5, 5, 4, 3, 3, 1, 5, 5, 5, 1, 1, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 5, 5, 3, 3, 5, 1, 5, 1, 1, 6, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 5, 5, 5, 6, 1, 3, 3, 1, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 3, 5, 5, 5, 1, 3, 1, 3, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 5, 5, 2, 2, 2, 5, 5, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

// prettier-ignore
$badge-og2: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 2, 2, 1, 0, 3, 3, 3, 3, 0, 1, 2, 2, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 2, 2, 4, 1, 4, 4, 4, 4, 1, 4, 2, 2, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 3, 4, 4, 3, 4, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 5, 4, 4, 4, 4, 4, 4, 4, 4, 5, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 3, 1, 5, 4, 4, 4, 4, 4, 4, 5, 1, 3, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 3, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 4, 4, 4, 4, 1, 4, 4, 4, 4, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 6, 4, 4, 4, 4, 4, 4, 1, 5, 5, 5, 5, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 6, 4, 3, 3, 4, 3, 1, 6, 5, 5, 5, 5, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 5, 5, 4, 3, 3, 1, 5, 5, 5, 1, 1, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 5, 5, 3, 3, 5, 1, 5, 1, 1, 6, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 5, 5, 5, 6, 1, 3, 3, 1, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 5, 5, 5, 1, 3, 1, 3, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 2, 5, 5, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

// prettier-ignore
$badge-og3: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 2, 2, 1, 0, 3, 3, 3, 3, 0, 1, 2, 2, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 2, 2, 4, 1, 4, 4, 4, 4, 1, 4, 2, 2, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 3, 4, 4, 3, 4, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 5, 4, 4, 4, 4, 4, 4, 4, 4, 5, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 3, 1, 5, 4, 4, 4, 4, 4, 4, 5, 1, 3, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 3, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 4, 4, 4, 4, 1, 4, 4, 4, 4, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 6, 4, 4, 4, 4, 4, 4, 1, 5, 5, 5, 5, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 6, 4, 3, 3, 4, 3, 1, 6, 5, 5, 5, 5, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 5, 5, 4, 3, 3, 1, 5, 5, 5, 1, 1, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 5, 5, 3, 3, 5, 1, 5, 1, 1, 6, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 5, 5, 5, 6, 1, 3, 3, 1, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 3, 5, 5, 5, 1, 3, 1, 3, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 5, 5, 2, 2, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

// prettier-ignore
$badge-og4: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 5, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 2, 1, 5, 5, 5, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 3, 4, 4, 4, 1, 1, 4, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 3, 4, 4, 4, 4, 3, 4, 4, 4, 4, 2, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 6, 4, 4, 4, 4, 4, 4, 4, 3, 1, 2, 0, 0, 2, 2, 2, 1, 0, 0, 0),
  (0, 0, 0, 0, 2, 4, 4, 7, 4, 4, 4, 4, 5, 5, 6, 2, 0, 2, 5, 5, 1, 0, 0, 0),
  (0, 0, 0, 0, 2, 5, 4, 1, 4, 4, 4, 5, 5, 6, 6, 5, 2, 5, 5, 5, 1, 0, 0, 0),
  (0, 0, 0, 0, 0, 2, 5, 4, 8, 8, 5, 5, 5, 5, 5, 6, 2, 5, 5, 5, 1, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 1, 8, 8, 5, 5, 5, 5, 6, 6, 2, 5, 1, 2, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 6, 5, 5, 5, 5, 5, 2, 3, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 6, 3, 5, 5, 5, 5, 5, 5, 3, 1, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 6, 5, 5, 5, 5, 2, 3, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 5, 5, 1, 6, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

// prettier-ignore
$badge-og5: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 5, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 2, 1, 5, 5, 5, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 3, 4, 4, 4, 1, 1, 4, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 3, 4, 4, 4, 4, 3, 4, 4, 4, 4, 2, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 6, 4, 4, 4, 4, 4, 4, 4, 3, 1, 2, 0, 0, 2, 2, 2, 1, 0, 0, 0),
  (0, 0, 0, 0, 2, 4, 4, 7, 4, 4, 4, 4, 5, 5, 6, 2, 0, 2, 5, 5, 1, 0, 0, 0),
  (0, 0, 0, 0, 2, 5, 4, 1, 4, 4, 4, 5, 5, 6, 6, 5, 2, 5, 5, 5, 1, 0, 0, 0),
  (0, 0, 0, 0, 0, 2, 5, 4, 8, 8, 5, 5, 5, 5, 5, 6, 2, 5, 5, 5, 1, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 1, 8, 8, 5, 5, 5, 5, 6, 6, 2, 5, 1, 2, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 6, 5, 5, 5, 5, 5, 2, 3, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 6, 3, 5, 5, 5, 5, 5, 5, 3, 1, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 6, 5, 5, 5, 5, 2, 3, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 5, 5, 6, 1, 6, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

// prettier-ignore
$badge-og6: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 5, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 2, 1, 5, 5, 5, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 3, 4, 4, 4, 1, 1, 4, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 3, 4, 4, 4, 4, 3, 4, 4, 4, 4, 2, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 6, 4, 4, 4, 4, 4, 4, 4, 3, 1, 2, 0, 0, 2, 2, 2, 1, 0, 0, 0),
  (0, 0, 0, 0, 2, 4, 4, 7, 4, 4, 4, 4, 5, 5, 6, 2, 0, 2, 5, 5, 1, 0, 0, 0),
  (0, 0, 0, 0, 2, 5, 4, 1, 4, 4, 4, 5, 5, 6, 6, 5, 2, 5, 5, 5, 1, 0, 0, 0),
  (0, 0, 0, 0, 0, 2, 5, 4, 8, 8, 5, 5, 5, 5, 5, 6, 2, 5, 5, 5, 1, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 1, 8, 8, 5, 5, 5, 5, 6, 6, 2, 5, 1, 2, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 6, 5, 5, 5, 5, 5, 2, 3, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 6, 3, 5, 5, 5, 5, 5, 5, 3, 1, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 6, 5, 5, 5, 5, 2, 3, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 1, 5, 5, 1, 6, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

// prettier-ignore
$badge-og7: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 1, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 1, 2, 2, 4, 1, 0, 0, 0, 0, 0, 0, 1, 4, 2, 2, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 4, 4, 4, 1, 6, 6, 6, 6, 1, 4, 4, 4, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 5, 4, 4, 3, 5, 4, 4, 5, 3, 4, 4, 5, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 2, 5, 4, 4, 4, 4, 4, 4, 5, 2, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 2, 1, 4, 4, 7, 4, 4, 4, 4, 7, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 3, 1, 8, 4, 1, 4, 4, 4, 4, 1, 4, 8, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 3, 3, 9, 8, 4, 4, 3, 3, 4, 4, 8, 9, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 3, 3, 2, 1, 2, 5, 5, 5, 5, 2, 1, 2, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 2, 3, 6, 5, 6, 2, 2, 2, 2, 6, 5, 6, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 1, 5, 4, 6, 5, 5, 6, 4, 5, 1, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 5, 1, 1, 5, 5, 5, 5, 1, 1, 5, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 6, 5, 5, 5, 5, 5, 5, 5, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 3, 5, 2, 2, 2, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

// prettier-ignore
$badge-og8: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 1, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 1, 2, 2, 4, 1, 0, 0, 0, 0, 0, 0, 1, 4, 2, 2, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 4, 4, 4, 1, 6, 6, 6, 6, 1, 4, 4, 4, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 5, 4, 4, 3, 5, 4, 4, 5, 3, 4, 4, 5, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 2, 5, 4, 4, 4, 4, 4, 4, 5, 2, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 2, 1, 4, 4, 7, 4, 4, 4, 4, 7, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 3, 1, 8, 4, 1, 4, 4, 4, 4, 1, 4, 8, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 3, 3, 9, 8, 4, 4, 3, 3, 4, 4, 8, 9, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 3, 3, 2, 1, 2, 5, 5, 5, 5, 2, 1, 2, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 2, 3, 6, 5, 6, 2, 2, 2, 2, 6, 5, 6, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 1, 5, 4, 6, 5, 5, 6, 4, 5, 1, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 5, 1, 1, 5, 5, 5, 5, 1, 1, 5, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 3, 5, 5, 5, 5, 5, 5, 5, 6, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 2, 2, 5, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

// prettier-ignore
$badge-og9: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 1, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 1, 2, 2, 4, 1, 0, 0, 0, 0, 0, 0, 1, 4, 2, 2, 1, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 4, 4, 4, 1, 6, 6, 6, 6, 1, 4, 4, 4, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 5, 4, 4, 3, 5, 4, 4, 5, 3, 4, 4, 5, 1, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 2, 5, 4, 4, 4, 4, 4, 4, 5, 2, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 2, 1, 4, 4, 7, 4, 4, 4, 4, 7, 4, 4, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 3, 1, 8, 4, 1, 4, 4, 4, 4, 1, 4, 8, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 3, 3, 9, 8, 4, 4, 3, 3, 4, 4, 8, 9, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 3, 3, 2, 1, 2, 5, 5, 5, 5, 2, 1, 2, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 2, 3, 6, 5, 6, 2, 2, 2, 2, 6, 5, 6, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 1, 5, 4, 6, 5, 5, 6, 4, 5, 1, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 6, 5, 1, 1, 5, 5, 5, 5, 1, 1, 5, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 6, 5, 5, 5, 5, 5, 5, 5, 3, 1, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 3, 5, 2, 2, 2, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

// prettier-ignore
$badge-og10: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 3, 5, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 5, 5, 5, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 2, 2, 3, 4, 1, 1, 4, 4, 4, 3, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 2, 4, 4, 4, 4, 3, 4, 4, 4, 4, 3, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 6, 0, 0, 0, 0),
  (0, 0, 0, 1, 2, 2, 2, 0, 0, 2, 1, 3, 4, 4, 4, 4, 4, 4, 4, 6, 0, 0, 0, 0),
  (0, 0, 0, 1, 5, 5, 2, 0, 2, 6, 5, 5, 4, 4, 4, 4, 7, 4, 4, 2, 0, 0, 0, 0),
  (0, 0, 0, 1, 5, 5, 5, 2, 5, 6, 6, 5, 5, 4, 4, 4, 1, 4, 5, 2, 0, 0, 0, 0),
  (0, 0, 0, 1, 5, 5, 5, 2, 6, 5, 5, 5, 5, 5, 8, 8, 4, 5, 2, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 1, 5, 2, 6, 6, 5, 5, 5, 5, 8, 8, 1, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 3, 2, 5, 5, 5, 5, 5, 6, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 1, 3, 5, 5, 5, 5, 5, 5, 3, 6, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 3, 2, 5, 5, 5, 5, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 3, 6, 1, 5, 5, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

// prettier-ignore
$badge-og11: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 3, 5, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 5, 5, 5, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 2, 2, 3, 4, 1, 1, 4, 4, 4, 3, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 2, 4, 4, 4, 4, 3, 4, 4, 4, 4, 3, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 6, 0, 0, 0, 0),
  (0, 0, 0, 1, 2, 2, 2, 0, 0, 2, 1, 3, 4, 4, 4, 4, 4, 4, 4, 6, 0, 0, 0, 0),
  (0, 0, 0, 1, 5, 5, 2, 0, 2, 6, 5, 5, 4, 4, 4, 4, 7, 4, 4, 2, 0, 0, 0, 0),
  (0, 0, 0, 1, 5, 5, 5, 2, 5, 6, 6, 5, 5, 4, 4, 4, 1, 4, 5, 2, 0, 0, 0, 0),
  (0, 0, 0, 1, 5, 5, 5, 2, 6, 5, 5, 5, 5, 5, 8, 8, 4, 5, 2, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 1, 5, 2, 6, 6, 5, 5, 5, 5, 8, 8, 1, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 3, 2, 5, 5, 5, 5, 5, 6, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 1, 3, 5, 5, 5, 5, 5, 5, 3, 6, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 3, 2, 5, 5, 5, 5, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 3, 6, 1, 6, 5, 5, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

// prettier-ignore
$badge-og12: (
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 3, 5, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 5, 5, 5, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 2, 2, 3, 4, 1, 1, 4, 4, 4, 3, 6, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 2, 4, 4, 4, 4, 3, 4, 4, 4, 4, 3, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 6, 0, 0, 0, 0),
  (0, 0, 0, 1, 2, 2, 2, 0, 0, 2, 1, 3, 4, 4, 4, 4, 4, 4, 4, 6, 0, 0, 0, 0),
  (0, 0, 0, 1, 5, 5, 2, 0, 2, 6, 5, 5, 4, 4, 4, 4, 7, 4, 4, 2, 0, 0, 0, 0),
  (0, 0, 0, 1, 5, 5, 5, 2, 5, 6, 6, 5, 5, 4, 4, 4, 1, 4, 5, 2, 0, 0, 0, 0),
  (0, 0, 0, 1, 5, 5, 5, 2, 6, 5, 5, 5, 5, 5, 8, 8, 4, 5, 2, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 2, 1, 5, 2, 6, 6, 5, 5, 5, 5, 8, 8, 1, 1, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 3, 2, 5, 5, 5, 5, 5, 6, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 1, 1, 3, 5, 5, 5, 5, 5, 5, 3, 6, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 1, 3, 2, 5, 5, 5, 5, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 1, 6, 1, 5, 5, 1, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
);

@keyframes badge-og-explorist-anim {
  0%,
  100% {
    @include nes.pixelize($size, $badge-og1, $badge-ogcolors);
  }
  8.33% {
    @include nes.pixelize($size, $badge-og2, $badge-ogcolors);
  }
  16.66% {
    @include nes.pixelize($size, $badge-og3, $badge-ogcolors);
  }
  25% {
    @include nes.pixelize($size, $badge-og4, $badge-ogcolors);
  }
  33.33% {
    @include nes.pixelize($size, $badge-og5, $badge-ogcolors);
  }
  41.66% {
    @include nes.pixelize($size, $badge-og6, $badge-ogcolors);
  }
  50% {
    @include nes.pixelize($size, $badge-og7, $badge-ogcolors);
  }
  58.33% {
    @include nes.pixelize($size, $badge-og8, $badge-ogcolors);
  }
  66.66% {
    @include nes.pixelize($size, $badge-og9, $badge-ogcolors);
  }
  75% {
    @include nes.pixelize($size, $badge-og10, $badge-ogcolors);
  }
  83.33% {
    @include nes.pixelize($size, $badge-og11, $badge-ogcolors);
  }
  91.66% {
    @include nes.pixelize($size, $badge-og12, $badge-ogcolors);
  }
}

.badge-og-explorist {
  position: relative;
  width: $size * 24;
  height: $size * 24;

  &::before {
    position: absolute;
    top: -0.5px;
    left: -2.5px;
    content: "";
    background: transparent;
    animation: badge-og-explorist-anim 2s infinite steps(1);
  }
}
