<!-- https://c3-q849-dark.cargo.site/ inspiration -->
<!-- https://www.hawksworx.com/ inspiration 2 -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}
    <style>
    	{% include "css/critical.css" %}
    </style>
    {# Add facility for pages to delare an array of critical styles #}
    {%
      if
      pageCriticalStyles
    %}
      {% for item in pageCriticalStyles %}
        <link rel="stylesheet" href="{{ item | url }}" />
      {% endfor %}
    {% endif %}
  </head>
  <body>
    <div class="site-wrap">
      {% include "partials/nav-bar.html" %}
      <div class="main-content">
        {% block content %}{{ content | safe }}{% endblock %}
      </div>
      {% include "partials/footer.html" %}
    </div>
  </body>
</html>
