.wrapper {
	position: absolute;
	max-height: 100vh;
}

.wrapper .main-nav {
	width: 24%;
	position: fixed;
	overflow: hidden;
}

.wrapper .main-content {
	margin-left: 25%;
	top: 0;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
}
