@use "nes.css/scss/nes.scss" as *;
@use "thunder";

.menu-button {
  @extend .nes-btn;

  &:hover {
    @extend .is-success;
  }
}

.port-ash {
  @extend .nes-ash;
  transform: scale(0.53);
  margin-top: -22px;
  margin-bottom: -26px;
}
