@use "nes.css/scss/nes.scss" as *;
@use "thunder";

$cursor-default: url(https://unpkg.com/nes.css@latest/assets/cursor.png);
$cursor-click: url(https://unpkg.com/nes.css@latest/assets/cursor-click.png);

home,
body {
  cursor: $cursor-default, auto;
}

button,
a,
input,
label {
  cursor: $cursor-click, pointer;
}

.nes-pointer {
  cursor: $cursor-click, pointer;
}

.menu-button {
  @extend .nes-btn;
  cursor: $cursor-click, pointer;

  &:hover {
    @extend .is-success;
  }
}

.port-ash {
  @extend .nes-ash;
  transform: scale(0.53);
  margin-top: -22px;
  margin-bottom: -26px;
}

#root {
  background-color: #212529;
}

.bw2-background {
  position: relative;
  background-color: transparent;
  isolation: isolate;

  --background-color: #212529;
  --dot-color: rgba(255, 255, 255, 0.25);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-color: var(--background-color);
    --dot: radial-gradient(circle, var(--dot-color) 1px, transparent 1px);
    --dot-spacing: 5px;
    --line-spacing: calc(3 * var(--dot-spacing));

    background-image: var(--dot), var(--dot);

    background-size:
      var(--dot-spacing) var(--line-spacing),
      var(--line-spacing) var(--dot-spacing);

    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }
}

.bw2-background--orange {
  @extend .bw2-background;

  --background-color: #0d1b2a;
  --dot-color: rgba(255, 164, 0, 1);
}

.bw2-background--red {
  @extend .bw2-background;

  --background-color: #4c0000;
  --dot-color: rgba(255, 100, 100, 0.3);
}

@keyframes movePattern {
  from {
    background-position: 0 0;
  }
  to {
    background-position: var(--pattern-size) var(--pattern-size);
  }
}

.moving-squares {
  position: relative;
  background-color: transparent;
  isolation: isolate;

  --background-color: #212529;
  --pattern-color: rgba(255, 255, 255, 0.25);
  --pattern-size: 10px;
  --pattern-thickness: 1px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -50;

    background-color: var(--background-color);

    background-image:
      linear-gradient(
        var(--pattern-color) var(--pattern-thickness),
        transparent var(--pattern-thickness)
      ),
      linear-gradient(
        to right,
        var(--pattern-color) var(--pattern-thickness),
        transparent var(--pattern-thickness)
      );

    background-size: var(--pattern-size) var(--pattern-size);

    animation: movePattern 6s linear infinite;
  }
}

.moving-squares--green {
  @extend .moving-squares;

  --background-color: #0d0208;
  --pattern-color: rgba(0, 255, 65, 0.4);
}

.moving-squares--orange {
  @extend .moving-squares;

  --background-color: #0d0208;
  --pattern-color: rgba(255, 164, 0, 0.4);
}

.isometric-pattern {
  $main-color: #000000;
  $light-color: #00000077;
  background-color: #e5e5f777 !important;
  background-image:
    linear-gradient(
      30deg,
      $main-color 12%,
      transparent 12.5%,
      transparent 87%,
      $main-color 87.5%,
      $main-color
    ),
    linear-gradient(
      150deg,
      $main-color 12%,
      transparent 12.5%,
      transparent 87%,
      $main-color 87.5%,
      $main-color
    ),
    linear-gradient(
      30deg,
      $main-color 12%,
      transparent 12.5%,
      transparent 87%,
      $main-color 87.5%,
      $main-color
    ),
    linear-gradient(
      150deg,
      $main-color 12%,
      transparent 12.5%,
      transparent 87%,
      $main-color 87.5%,
      $main-color
    ),
    linear-gradient(
      60deg,
      $light-color 25%,
      transparent 25.5%,
      transparent 75%,
      $light-color 75%,
      $light-color
    ),
    linear-gradient(
      60deg,
      $light-color 25%,
      transparent 25.5%,
      transparent 75%,
      $light-color 75%,
      $light-color
    );
  background-size: 20px 35px;
  background-position:
    0 0,
    0 0,
    10px 18px,
    10px 18px,
    0 0,
    10px 18px;
}
