@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Silkscreen&family=VT323&display=swap");

@import "tailwindcss";

.font-press-start {
  font-family: "Press Start 2P", monospace;
}

.font-vt323 {
  font-family: "VT323", monospace;
  font-size: 2rem;
  line-height: 0.82 !important;
  transform-origin: top;
}

.font-pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 0.96 !important;
}

.font-silkscreen {
  font-family: "Silkscreen", sans-serif;
  font-size: 1.25rem;
}

.font-kongtext {
  font-family: "kongtext", monospace;
}

.font-vt323 .title {
  font-size: 2rem !important;
}

:is(.font-pixelify-sans, .font-silkscreen) .title {
  font-size: 1.5rem !important;
}

.font-press-start .nes-radio:checked + span::before {
  top: 2px;
}

.font-vt323 .nes-radio:checked + span::before {
  top: 3px;
}

.radio-label {
  display: flex;
  align-items: center;
}

.nes-radio:checked + span::before {
  top: 10px;
}

.nes-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-pattern-dotted {
  background-image: radial-gradient(#6d6d6d 1px, transparent 1px);
  background-size: 10px 10px;
}

.bg-pattern-block {
  background-image:
    linear-gradient(45deg, #4a4a4a 25%, transparent 25%),
    linear-gradient(-45deg, #4a4a4a 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #4a4a4a 75%),
    linear-gradient(-45deg, transparent 75%, #4a4a4a 75%);
  background-size: 20px 20px;
  background-color: #333;
}

@keyframes spin-nes {
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-nes {
  animation: spin-nes 1.5s linear infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pixelated-image {
  image-rendering: pixelated;
}

@media (min-width: 1024px) {
  .grid:has(> .nes-container.with-title) {
    grid-template-columns: 3fr 2fr;
  }
}
