@use "nes.css/scss/nes";

$icon-coin-colors: (#060606, #fff9e6, #ffc107, #755800);
$size: 1px;

// prettier-ignore
$icon-coin-1: (
  (0,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,1,1,1,2,2,2,1,1,1,1,0,0,0),
  (0,0,1,1,2,2,3,3,3,3,3,1,1,0,0,0),
  (0,0,1,2,3,3,2,2,2,1,3,3,1,1,0,0),
  (0,1,1,2,3,3,2,3,3,1,3,3,1,1,0,0),
  (0,1,2,3,3,3,2,3,3,1,3,3,4,1,1,0),
  (0,1,2,3,3,3,2,3,3,1,3,3,4,1,1,0),
  (0,1,2,3,3,3,2,3,3,1,3,3,4,1,1,0),
  (0,1,2,3,3,3,2,3,3,1,3,3,4,1,1,0),
  (0,1,2,3,3,3,2,3,3,1,3,3,4,1,1,0),
  (0,1,2,3,3,3,2,3,3,4,3,3,4,1,1,0),
  (0,1,1,2,3,3,2,3,3,4,3,4,1,1,0,0),
  (0,0,1,2,3,3,2,4,4,4,3,4,1,1,0,0),
  (0,0,1,1,2,3,3,3,3,3,4,1,1,0,0,0),
  (0,0,0,1,1,1,3,3,4,1,1,1,1,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0)
);

// prettier-ignore
$icon-coin-2: (
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0),
  (0,0,0,0,1,1,2,2,2,1,1,1,0,0,0,0),
  (0,0,0,1,2,2,3,3,3,3,3,1,1,0,0,0),
  (0,0,1,2,2,3,2,2,2,1,3,3,1,0,0,0),
  (0,0,1,2,3,3,2,3,3,1,3,3,1,1,0,0),
  (0,0,1,2,3,3,2,3,3,1,3,3,4,1,0,0),
  (0,0,1,3,3,3,2,3,3,1,3,3,4,1,0,0),
  (0,0,1,3,3,3,2,3,3,1,3,3,4,1,0,0),
  (0,0,1,3,3,3,2,3,3,1,3,3,4,1,0,0),
  (0,0,1,3,3,3,2,3,3,1,3,3,4,1,0,0),
  (0,0,1,3,3,3,2,3,3,4,3,3,4,1,0,0),
  (0,0,1,2,3,3,2,3,3,4,3,4,1,1,0,0),
  (0,0,1,2,3,3,2,4,4,4,3,4,1,0,0,0),
  (0,0,0,1,2,3,3,3,3,4,4,1,1,0,0,0),
  (0,0,0,0,1,1,2,4,4,1,1,1,0,0,0,0),
  (0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0)
);

// prettier-ignore
$icon-coin-3: (
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0),
  (0,0,0,0,0,1,1,2,1,1,0,0,0,0,0,0),
  (0,0,0,0,1,2,3,3,3,1,1,0,0,0,0,0),
  (0,0,0,1,2,3,2,2,3,4,1,0,0,0,0,0),
  (0,0,0,1,2,3,2,4,3,4,1,0,0,0,0,0),
  (0,0,0,1,3,3,2,4,3,4,1,0,0,0,0,0),
  (0,0,0,1,3,3,2,4,3,4,1,0,0,0,0,0),
  (0,0,0,1,3,3,2,4,3,4,1,0,0,0,0,0),
  (0,0,0,1,3,3,2,4,3,4,1,0,0,0,0,0),
  (0,0,0,1,3,3,2,4,3,4,1,0,0,0,0,0),
  (0,0,0,1,3,3,2,4,3,4,1,0,0,0,0,0),
  (0,0,0,1,3,3,2,4,3,4,1,0,0,0,0,0),
  (0,0,0,1,2,3,4,4,3,4,1,0,0,0,0,0),
  (0,0,0,0,1,2,3,3,4,1,1,0,0,0,0,0),
  (0,0,0,0,0,1,2,4,4,1,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0)
);

// prettier-ignore
$icon-coin-4: (
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0),
  (0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0)
);

// prettier-ignore
$icon-coin-1-rev: (
  (0,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0),
  (0,0,0,1,1,1,1,2,2,2,1,1,1,0,0,0),
  (0,0,0,1,1,3,3,3,3,3,2,2,1,1,0,0),
  (0,0,1,1,3,3,1,2,2,2,3,3,2,1,0,0),
  (0,0,1,1,3,3,1,3,3,2,3,3,2,1,1,0),
  (0,1,1,4,3,3,1,3,3,2,3,3,3,2,1,0),
  (0,1,1,4,3,3,1,3,3,2,3,3,3,2,1,0),
  (0,1,1,4,3,3,1,3,3,2,3,3,3,2,1,0),
  (0,1,1,4,3,3,1,3,3,2,3,3,3,2,1,0),
  (0,1,1,4,3,3,1,3,3,2,3,3,3,2,1,0),
  (0,1,1,4,3,3,4,3,3,2,3,3,3,2,1,0),
  (0,0,1,1,4,3,4,3,3,2,3,3,2,1,1,0),
  (0,0,1,1,4,3,4,4,4,2,3,3,2,1,0,0),
  (0,0,0,1,1,4,3,3,3,3,3,2,1,1,0,0),
  (0,0,0,1,1,1,1,4,3,3,1,1,1,0,0,0),
  (0,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0)
);

// Keyframe Animation
@keyframes jumpFlip {
  0% {
    transform: translateY(0);
    @include nes.pixelize($size, $icon-coin-1, $icon-coin-colors);
  }
  12.5% {
    transform: translateY(-10px);
    @include nes.pixelize($size, $icon-coin-2, $icon-coin-colors);
  }
  25% {
    transform: translateY(-13.5px);
    @include nes.pixelize($size, $icon-coin-3, $icon-coin-colors);
  }
  37.5% {
    transform: translateY(-17px);
    @include nes.pixelize($size, $icon-coin-4, $icon-coin-colors);
  }
  50% {
    transform: translateY(-20px);
    @include nes.pixelize($size, $icon-coin-1-rev, $icon-coin-colors);
  }
  62.5% {
    transform: translateY(-18px);
    @include nes.pixelize($size, $icon-coin-2, $icon-coin-colors);
  }
  75% {
    transform: translateY(-16px);
    @include nes.pixelize($size, $icon-coin-3, $icon-coin-colors);
  }
  87.5% {
    transform: translateY(-8px);
    @include nes.pixelize($size, $icon-coin-4, $icon-coin-colors);
  }
  100% {
    transform: translateY(0);
    @include nes.pixelize($size, $icon-coin-1, $icon-coin-colors);
  }
}

.nes-icon.is-coin {
  position: relative;
  display: inline-block;
  width: $size * 1.15 * length(nth($icon-coin-1, 1));
  height: $size * 1.15 * length($icon-coin-1);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: transparent;

    @include nes.pixelize($size, $icon-coin-1, $icon-coin-colors);
  }
}

.nes-badge:hover .nes-icon.is-coin::before {
  animation: jumpFlip 1s infinite steps(1);
}

@media (max-width: 768px) {
  .nes-icon.is-coin::before {
    animation: jumpFlip 1s infinite steps(1);
  }
}
